/*
*
*   Card component
*
*/

.card { 
    display: flex;
    position: relative;
    div.mt-auto.wp-block-spacer {
        height: 0px !important;
    }

	&::after {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 4px;
		background: var(--primary);
		transform: scaleX(0);
		transition: transform 300ms ease-in-out;
	}

    /****************************************
    *   Modifiers
    ****************************************/

    &--shadow {
		box-shadow: 0 6px 22px 0 rgb(0 0 0 / 10%);
    }

    &--hover:hover {
        
		&::after {
			transform: scaleX(1);
		}
        
        &.card--shadow:hover {
            //box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }
        &.card--rotate:hover {
            //transform: rotate(3deg);
        }
    }

    &__image {
		position: relative;
		
		img {
        transform: scale(1);
        transition: all 300ms ease-in-out;
        object-fit: cover;
        width: 100%;
        height: 100%;
		}
    }

	// card-text is legacy
    h2, h3, h4, h5, &__text, p, &__title {
        margin: 0;
		color: var(--black);
    }

	&--dark {
		h2, h3, h4, h5, .card__text, p, .card__title {
			color: var(--white);
		}
	}

    &--image-top {
        flex-direction: column;
        .card__image, .card__image {
            
            aspect-ratio: 16/9;
            width: 100%;
        }
        .card__badge {
            right: space(4);
            top: space(4);
        }
        .card__label {
			top: 0;
			transform: translate(0, -150%);
            margin-left: space(-2);
        }
    }

    &--image-right {
        flex-direction: row-reverse;
        .card__badge {
            right: space(4);
            top: space(4);
        }
        .card__image, .card__image {
            
            align-self: stretch;
            aspect-ratio: 1/1;
            height: 100%;
            width: 33%;
        }
        .card__label {
            left: 0;
            margin-left: space(4);
        }
    }

    &--image-bottom {
        flex-direction: column-reverse;
        .card__image, .card__image {
            
            aspect-ratio: 16/9;
            width: 100%;
        }
        .card__badge {
            right: space(4);
            bottom: space(4);
        }
    }

    &--image-left {
        flex-direction: row;
        .card__badge {
            left: space(4);
            top: space(4);
        }
        .card__image, .card__image {
            
            align-self: stretch;
            aspect-ratio: 1/1;
            height: 100%;
            width: 33%;
        }
        .card__label {
            right: 0;
            margin-right: space(4);
            margin-top: -1.75rem;
        }
    }

    &--no-image {
        flex-direction: column;
        .card__label { right: space(4); left: auto; }
        .card__badge {
            margin-top: space(-4);
            margin-left: space(-4);
        }
    }

	&__image-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
		padding: 3rem 1.5rem 1rem;

		width: 100%;
		.card__title {
			color: var(--white);
		}

		.card__subtitle {
			display: block;
			color: var(--white);
		}
	}


    

    &--primary {
        .card__badge, .card__label {
            background-color: var(--primary);
            color: var(--primary-contrast);
        }
    }


    /****************************************
    *   Elements
    ****************************************/

    &__content  { 
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        padding: space(4) space(6); 

        label.card__label {
            margin-top: space(-7); 
            margin-left: space(-2);
            left: space(4);
        }
    }

    &__title, h2 {
        font-weight: 500;
        font-size: space(6);
        padding-top: 0;
        padding-bottom: 0;
        display: inline-block; 
        margin: 0;
		border-bottom: none !important;
		line-height: 3rem;
    }

	&card__title--small {
		font-size: space(4);
		font-weight: 600;
	}

    &__subtitle {
        font-size: space(3);
        padding-top: 0;
        color: gray(500);
        padding-bottom: 0;
        display: inline-block; 
        margin: 0;
		border-bottom: none !important;
		line-height: 2.25rem;
    }

    &__text, p {
        padding: space(2) 0 space(2);
        margin: 0;
    }

    &__footer {
        margin-top: auto;
        padding-top: space(2);
        border-top: 4px dotted gray(200);
        margin-left: -1rem;
        margin-right: -1rem;
        display: flex;
        padding: 0.5rem 1rem 0;
		align-items: center;
    }

    &__actions {
        justify-self: flex-start;
        margin-left: -1rem;
    }

    &__supplemental {
        justify-self: flex-end;
        margin-left: auto;
    }

    &__badge {
        aspect-ratio: 1/1;
        display: flex;
		z-index: 1;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding: 0 space(2);
        &__day {
            font-size: 1rem;
            line-height: 0.7rem;
            font-weight: 600;
        }
        &__month {
            line-height: .8rem;
            font-size: 0.75rem;
            font-weight: 500;
        }
    }

    &__svg {
        padding: space(4);
        display: grid;
        place-items: center;
    }

    &__image {
        position: relative;
        overflow: hidden;
    }

    &__label {
        position: absolute;
        padding-left: space(2);
        padding-right: space(2);
    }

	&--center {
		text-align: center;
		align-items: center;
	}


}