.filters {
    padding-bottom: 2rem;
}

.filter {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;

    &__title {
        width: 100%;
        font-size: 0.75rem;
        font-weight: bold;
        color: var(--gray-800);
    }

    &__pill {
        display: inline-block;
        border: 2px solid var(--gray-700);
        padding: 0.25rem 1rem;
        border-radius: rounded("sm");
        color: var(--gray-700);
        cursor: pointer;

        &:hover {
            border: 2px solid var(--primary);
            color: var(--primary);
        }

        &--active {
            border: 2px solid var(--primary);
            color: var(--primary-contrast);
            background-color: var(--primary);

            &:hover {
                color: var(--primary-contrast);
            }
        }
    }

    &__search {
        padding-bottom: 1rem;
        position: relative;
        &::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>');
            content: "";
            font-size: 1.25rem;
            position: absolute;
            right: 7px;
            top: 7px;
            height: 24px;
            width: 24px;
        }
    }

    &--columns {
        .filter {
            padding: 0 1rem;
        }

        .filter__box {
            width: 100%;
        }
    }
}
