@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons--bubble {
    border-radius: 999px;
    background: #eee;
    display: flex;
    /* place-content: center; */
    place-items: center;
    aspect-ratio: 1/1;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.material-icons--micro-bubble {
    width: 1rem;
    height: 1rem;
}
