<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>



  <img with="100%" src="{{url}}" alt="{{info}}" class="{{classes}}">
  {% if info %}
  <span class="info">{{info}}</span>
  {% endif %}
