<div class="next-service row justify-content-center">
    
      <div class="medium-text-left text-center col-12 col-md-auto text-right"><img width="42" height="42" src="/wp-content/themes/gmu-bootstrap/public/images/service.svg"></div>
      <div class="medium-text-left col-12 col-md-auto"><span class="gray">Nächster Gottesdienst:</span><br><span class="h5 bold">{{start|fuzzy_date}}</span></div>
      
      
    
</div>
