<!doctype html>

	<head>
		{% include 'html-header.twig' %}
	</head>

	<body class="{{body_class}} post-type-{{post.post_type}}" id="post-{{post.ID}}">

		{% include "menu.twig" with {'menu': menu.get_items} %}

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% include 'footer.twig' %}
		
	</body>
</html>
