@use "../settings/sizes" as sizes;
@use "../tools/" as tools;

body {
    max-width: sizes.$body-width;
    margin: auto;
    font-family: "Inria Sans", sans-serif;
    background-color: var(--gray-100);
}

@include tools.media-breakpoint(xl) {
    body {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
