ul.core-block {
    padding-left: 0px !important;
}

ul.core-block li {
    list-style-type: none;
    margin-left: 2rem;
    align-content: center;
    padding: 0.25rem 0.5rem;
}

ul.core-block li:before {
    content: " ";
    display: inline-block;
    margin-left: -2rem;
    margin-right: 0.5rem;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 1;
    line-height: 1;
    background-size: 24px;
    width: 16px;
    height: 16px;
    background-color: var(--wp--preset--color--primary);
    position: absolute;
    margin-top: 4px;
}

.dark ul.core-block li:before {
    color: rgba(255, 255, 255, 0.4);
}
